<div class='standard-form endurance-break-config'>
	<div class='ebc-scroll'>
		<p class='hint'>{{localize 'XHM.BreakConfig.Hint'}}</p>
		<table>
			<thead>
				<tr>
					<th>{{localize 'XHM.BreakConfig.DamageType'}}</th>
					<th>{{localize 'XHM.BreakConfig.ItemUuid'}}</th>
				</tr>
			</thead>
			<tbody>
				{{#each damageTypes}}
					<tr>
						<td><label for='ebc-{{key}}'>{{label}}</label></td>
						<td>
							<input
								id='ebc-{{key}}'
								type='text'
								name='{{key}}'
								value='{{uuid}}'
								placeholder='{{localize "XHM.BreakConfig.Placeholder"}}'
							/>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<footer class='flexrow'>
		<button type='submit' name='submit'>
			<i class='fas fa-save'></i>
			{{localize 'XHM.BreakConfig.Save'}}
		</button>
	</footer>
</div>